@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.icon{
    font-size: 30px;
}
.number{
    right: -1px;
    font-size: 15px;
}
/* .brdr{
    border-right: 2px solid gray;
    padding-right: 10px;
} */
.topbar{
    margin-bottom: -15px;
}

.p-name{
    margin-bottom: -2px;
}

.navbar{
    backdrop-filter: blur(20px) saturate(150%);
}
.product{
    color: unset;
}
.topbar a{
    color: rgba(66, 83, 81, 0.801) !important;
    font-weight: 600;
}
.navbar .nav-link.active{
    color: rgb(0, 179, 179);
    font-weight: 600;
}
.navbar .nav-link:hover{
    color: rgb(255, 0, 0) !important;
}
.pd-img{
    transition: 0.3s ease-in-out;
}
.pd-img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
footer{
    background-color: #212529;
    color: white;
}
.title{
    font-size: 19px;
    font-weight: 600;
}
@media screen  and (max-width:767px) {
    .topbar ul{
        font-size:12px;
        gap: 8px;
    }
    footer{
        backdrop-filter: blur(10px) saturate(250%);
        font-size: 13px;
        background-color: rgba(128, 128, 128, 0.2);
        color: black;
    }
    footer .time{
        margin-top: -15px;
        margin-bottom: 3px;
    }
}